.head-main{
    background-image: linear-gradient(to right top, #042210, #090558, #4b4605, #053a1a, #572539);
}
:root {
    --size-default: 22px;
    --size-sm: 16px;
    --color-green: #58dd93;
    --color-black: #000;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@property --glowColor {
    syntax: "<color>";
    initial-value: #58dd93;
}

@keyframes rotate {
    0% {
        --angle: 0deg;
        --glowColor: var(--color-green);
    }

    100% {
        --angle: 360deg;
        --glowColor: var(--color-green);
    }
}

* {
    box-sizing: border-box;
}



.btn:after,
.btn:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: calc(100px + 1.5px);
    background-position: 0px 0px;
    background-image: conic-gradient(from var(--angle) at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 33%, var(--glowColor) 50%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
    animation: rotate 2s infinite linear;
}

.btn:before {
    animation: rotate 2s infinite linear;
    filter: blur(20px);
}

.btn .btnInner {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: var(--size-sm) var(--size-default);
    border-radius: 100px;
    color: var(--color-green);
    font-weight: 500;
    font-size: 22px;
    z-index: 1;
    transition: all 0.18s ease;
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(40px);
    backface-visibility: hidden;
}

.btn:hover .btnInner {
    background: rgba(88, 221, 147, .1);
    color: #adeeca;
}

.btn:active {
    transform: scale(0.95);
}
